.bottom-section {
    display: flex;
}

#button {
    background-color: black;
    color: white;
}

.left-box {
    background-color: #FFC0CB;
    color: black;
}

.right-box {
    background-color: rgba(255,192,203, 0.4);
    color: black;
}

a {
    color: black;
}