#button {
    background-color: black;
    color: white;
    height: 40px;
    width: 100px;
    border: none;
}

.left-box {
    background-color: #FFC0CB;
    color: black;
}

.right-box {
    background-color: rgba(255,192,203, 0.4);
    color: black;
}

a {
    color: black;
}